In [2]:
#ta for long term short memory
import pyodbc
from pandas import DataFrame
from pandas import concat
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

In [ ]:
server = 'tcp:illidan.database.windows.net' 
database = 'Traffic_Pollution' 
username = 'silax' 
password = 'Polska0!'  
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
createQuery = '''
DROP TABLE IF EXISTS dbo.RowProcessing
SELECT identity(int,1,1) AS CID, [_datetime], [id], [_value], ROW_NUMBER() Over (Partition By [_datetime] Order By [_datetime]) As RowID
into dbo.RowProcessing
FROM [dbo].[Readings]
WHERE id IN (2766, 2768, 2770, 2774, 17896)
	AND [_datetime] > \'2020-09-30 13:00:00.000\'
	ORDER BY [_datetime], [id]'''

cursor.execute(createQuery)
cursor.commit()

In [ ]:
from pandas import read_csv
from matplotlib import pyplot
# load dataset
dataset = read_csv('pollution.csv', header=0, index_col=0)
values = dataset.values
# specify columns to plot
groups = [0, 1, 2, 3, 5, 6, 7]
i = 1
# plot each column
pyplot.figure()
for group in groups:
	pyplot.subplot(len(groups), 1, i)
	pyplot.plot(values[:, group])
	pyplot.title(dataset.columns[group], y=0.5, loc='right')
	i += 1
pyplot.show()

In [1]:
import os
import datetime

import IPython
import IPython.display
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf
import pyodbc

# server = 'myserver,port' # to specify an alternate port
server = 'tcp:illidan.database.windows.net' 
database = 'Traffic_Pollution' 
username = 'silax' 
password = 'Polska0!'  
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# select 26 rows from SQL table to insert in dataframe.
query = '''SELECT 
        
       [Timestamp]
       ,[Speed_Uncapped]/[Free_Flow] AS Difference      
      
  FROM [dbo].[FactFlow]
  WHERE Station = 401 
  AND StreetKey = 50
  AND Timestamp > \'2021-01-01 00:00:00\' 
  
  
  ORDER BY Timestamp, StreetKey''' 

df = pd.read_sql(query, cnxn,  index_col=['Timestamp'], parse_dates=['Timestamp'])
print(df.tail(26))

                     Difference
Timestamp
2020-08-17 10:00:00    0.884592
2020-08-17 11:00:00    0.879456
2020-08-17 12:00:00    0.741692
2020-08-17 13:00:00    0.562538
2020-08-17 14:00:00    0.415408
2020-08-17 15:00:00    0.553172
2020-08-17 16:00:00    0.401813
2020-08-17 17:00:00    0.372205
2020-08-17 18:00:00    0.715408
2020-08-17 19:00:00    0.435347
2020-08-17 20:00:00    1.093656
2020-08-17 21:00:00    0.749245
2020-08-17 22:00:00    0.936556
2020-08-17 23:00:00    0.876133
2020-08-18 00:00:00    0.876133
2020-08-18 01:00:00    0.876133
2020-08-18 02:00:00    0.889426
2020-08-18 03:00:00    0.876133
2020-08-18 04:00:00    0.821450
2020-08-18 05:00:00    0.806042
2020-08-18 06:00:00    0.557100
2020-08-18 07:00:00    0.620242
2020-08-18 08:00:00    0.567372
2020-08-18 09:00:00    0.565861
2020-08-18 10:00:00    0.506042
2020-08-18 11:00:00    0.697583

In [2]:
df.head()

                     Difference
Timestamp
2020-06-20 08:00:00    0.767372
2020-06-20 08:00:00    1.072205
2020-06-20 09:00:00    0.822054
2020-06-20 10:00:00    0.620544
2020-06-20 11:00:00    0.802115

In [3]:
df.tail()

                     Difference
Timestamp
2020-08-18 07:00:00    0.620242
2020-08-18 08:00:00    0.567372
2020-08-18 09:00:00    0.565861
2020-08-18 10:00:00    0.506042
2020-08-18 11:00:00    0.697583